@using Final_Project.Models;

@{
    Layout = null;

    bool teacherP = (bool)TempData["Teach_Present"];
    TempData.Keep();
    bool HRP = (bool)TempData["HR_Present"];
    TempData.Keep();
    
    var classData = (List<@class>)Session["clz"];

    // List<string> ClassList = (List<string>)TempData["classL"];

    bool addteacher = true;
    
}


<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Elisyam - Calendar</title>
    <meta name="description" content="Elisyam is a Web App and Admin Dashboard Template built with Bootstrap 4">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Google Fonts -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Montserrat:400,500,600,700", "Noto+Sans:400,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/assets/img/favicon-16x16.png">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="~/Content/assets/vendors/css/base/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/assets/vendors/css/base/elisyam-1.2.min.css">
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<body id="page-top">
    <!-- Begin Preloader -->
    <div id="preloader">
        <div class="canvas">
            <img src="~/Content/assets/img/logo.png" alt="logo" class="loader-logo">
            <div class="spinner"></div>
        </div>
    </div>
    <!-- End Preloader -->
    <div class="page">
        <!-- Begin Header -->
        <header class="header">
            <nav class="navbar fixed-top">
                <!-- Begin Search Box-->
                <!-- End Search Box-->
                <!-- Begin Topbar -->
                <div class="navbar-holder d-flex align-items-center align-middle justify-content-between">
                    <!-- Begin Logo -->
                    <!-- End Logo -->
                    <!-- Begin Navbar Menu -->
                    <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center pull-right">
                        <!-- Begin Notifications -->
                        <!-- End Notifications -->
                        <!-- User -->
                        <li class="nav-item dropdown">
                            <a id="user" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><img src="~/Content/assets/img/avatar/avatar-01.jpg" alt="..." class="avatar rounded-circle"></a>
                            <ul aria-labelledby="user" class="user-size dropdown-menu">
                                <li>
                                    <a class="dropdown-item no-padding-top text-center">
                                        Logout
                                    </a>
                                </li>
                                <li><a rel="nofollow" href="http://localhost:59439/" class="dropdown-item logout text-center"><i class="ti-power-off"></i></a></li>
                            </ul>
                        </li>
                        <!-- End User -->
                        <!-- Begin Quick Actions -->
                        <!-- End Quick Actions -->
                    </ul>
                    <!-- End Navbar Menu -->
                </div>
                <!-- End Topbar -->
            </nav>
        </header>
        <!-- End Header -->
        <!-- Begin Page Content -->
        <div class="page-content d-flex align-items-stretch">
            <div class="default-sidebar">
                <!-- Begin Side Navbar -->
                <nav class="side-navbar box-scroll sidebar-scroll">
                    <!-- Begin Main Navigation -->
                    <ul class="list-unstyled">
                        <li>@Html.ActionLink("Home", "Index", "Admin")</li>
                        <li>@Html.ActionLink("Add Student", "AddStudent", "Admin")</li>
                        <li>@Html.ActionLink("Delete Student", "DeleteStudent", "Admin")</li>
                        <li>@Html.ActionLink("Update Student", "UpdateStudent", "Admin")</li>



                        @{
                            if (teacherP == true)
                            {
                                <li>@Html.ActionLink("Add Teacher", "AddTeacher", "Admin")</li>
                                <li>@Html.ActionLink("Delete Teacher", "DeleteTeacher", "Admin")</li>

                            }
                            if (HRP == true)
                            {
                                <li>@Html.ActionLink("Add HR", "AddHR", "Admin")</li>
                                <li>@Html.ActionLink("Delete HR", "DeleteHR", "Admin")</li>
                            }
                        }

                        <li class="active">
                            <a href="#dropdown-tables" aria-expanded="true" data-toggle="collapse"><i class="la la-th-large"></i><span>Student Details</span></a>
                            <ul id="dropdown-tables" class="collapse list-unstyled show pt-0">
                                @{
                                    foreach (var item in classData)
                                    {
                                         Nullable<int> x = item.Class_ID;
                                        <li><a href="@Url.Action("ClassDetails", "Admin", new { data = x})">@item.Class_Name </a></li>
                                    }

                                }
                            </ul>
                        </li>


                    </ul>

                    <!-- End Main Navigation -->
                </nav>
                <!-- End Side Navbar -->
            </div>
            <!-- End Left Sidebar -->
            <div class="content-inner">
                <!-- Begin Container -->
                <div class="container-fluid calendar">
                    <!-- Begin Page Header-->
                    @RenderBody()
                </div>
                <!-- End Container -->
                <!-- Begin Page Footer-->
                <!-- End Page Footer -->
                <!-- End Offcanvas Sidebar -->
            </div>
        </div>
        <!-- End Page Content -->
    </div>

    <!-- End Modal -->
    <!-- Begin Vendor Js -->
    <script src="~/Content/assets/vendors/js/base/jquery.min.js"></script>
    <script src="~/Content/assets/vendors/js/base/core.min.js"></script>
    <!-- End Vendor Js -->
    <!-- Begin Page Vendor Js -->



    <script src="~/Content/assets/vendors/js/nicescroll/nicescroll.min.js"></script>
    <script src="~/Content/assets/vendors/js/calendar/moment.min.js"></script>
    <script src="~/Content/assets/vendors/js/calendar/fullcalendar.min.js"></script>
    <script src="~/Content/assets/vendors/js/app/app.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>

    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>



    @{Html.EnableClientValidation(true);}
    @{Html.EnableUnobtrusiveJavaScript(true);}
    <!-- End Page Vendor Js -->
    <!-- Begin Page Snippets -->
    <script src="~/Content/assets/js/app/calendar/basic-calendar.min.js"></script>
    <!-- End Page Snippets -->
</body>
</html>