@model Final_Project.Models.hrfuctional
@{
    ViewBag.Title = "AddHR";
    Layout = "~/Views/Shared/_adminLayout.cshtml";


    bool V_dob = (bool)TempData["Hdon"];
    bool V_address = (bool)TempData["Haddress"];
    bool V_cnic = (bool)TempData["Hcnic"];
    bool V_gender = (bool)TempData["Hgender"];
    bool V_pic = (bool)TempData["Hpic"];
    bool V_email = (bool)TempData["HEmail"];
    bool V_qualif = (bool)TempData["Hqualif"];

    List<bool> genderList = new List<bool>()
        {
            true,
            false
        };
}

<h2>AddHR</h2>

<div class="container-fluid h-100 overflow-y">
    <div class="row flex-row h-100">
        <div class="col-12 my-auto">
            <!-- Form -->
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(false)
                <div class="widget has-shadow mx-auto" style="width: 900px;">
                    <div class="widget-header bordered no-actions d-flex align-items-center justify-content-md-center">
                        <h4>Fill the form to add the Hr</h4>
                    </div>
                    <div class="widget-body ">
                        <form class="form-horizontal ">
                            <div class="form-group row d-flex align-items-center mb-5 justify-content-md-center">
                                <label class="col-lg-2 form-control-label">First Name</label>
                                <div class="col-lg-8">
                                    @Html.TextBoxFor(model => model.HrF_FName, new { @class = "form-control", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.HrF_FName)
                                </div>
                            </div>
                            <div class="form-group row d-flex align-items-center mb-5 justify-content-md-center">
                                <label class="col-lg-2 form-control-label">Last Name</label>
                                <div class="col-lg-8">
                                    @Html.TextBoxFor(model => model.HrF_LName, new { @class = "form-control", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.HrF_LName)
                                </div>
                            </div>
                            <div class="form-group row d-flex align-items-center mb-5 justify-content-md-center">
                                <label class="col-lg-2 form-control-label">Father's Name</label>
                                <div class="col-lg-8">
                                    @Html.TextBoxFor(model => model.HrF_PasswordName, new { @class = "form-control", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.HrF_PasswordName)
                                </div>
                            </div>

                            <div class="form-group row d-flex align-items-center mb-5 justify-content-md-center">
                                <label class="col-lg-2 form-control-label">Phone Number</label>
                                <div class="col-lg-8">
                                    @Html.TextBoxFor(model => model.HrF_Phone, new { @class = "form-control", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.HrF_Phone)
                                </div>
                            </div>
                            @{
                                if (V_qualif == true)
                                {
                                    <div class="form-group row d-flex align-items-center mb-5 justify-content-md-center">
                                        <label class="col-lg-2 form-control-label">Qualification</label>
                                        <div class="col-lg-8">
                                            @Html.TextBoxFor(model => model.HrF_Qualification, new { @class = "form-control", @required = "required" })
                                            @Html.ValidationMessageFor(model => model.HrF_Qualification)
                                        </div>
                                    </div>
                                }

                                if (V_dob == true)
                                {
                                    <div class="form-group row d-flex align-items-center mb-5 justify-content-md-center">
                                        <label class="col-lg-2 form-control-label">Date of Birth</label>
                                        <div class="col-lg-8">
                                            @Html.TextBoxFor(model => model.HrF_DOB, new { @class = "form-control", @required = "required", @type = "date" })
                                            @Html.ValidationMessageFor(model => model.HrF_DOB)
                                        </div>
                                    </div>
                                }
                                if (V_gender == true)
                                {
                                    <div class="form-group row d-flex align-items-center mb-5 justify-content-md-center">
                                        <label class="col-lg-2 form-control-label">Gender</label>
                                        <div class="col-lg-8">
                                            @Html.DropDownListFor(model => model.HrF_Gender, new SelectList(genderList), new { @class = "form-control", aria_describedby = "dropdownMenu2" })
                                        </div>
                                    </div>
                                }
                                if (V_cnic == true)
                                {
                                    <div class="form-group row d-flex align-items-center mb-5 justify-content-md-center">
                                        <label class="col-lg-2 form-control-label">CNIC</label>
                                        <div class="col-lg-8">
                                            @Html.TextBoxFor(model => model.HrF_CNIC, new { @class = "form-control", @required = "required", @type = "Number" })
                                            @Html.ValidationMessageFor(model => model.HrF_CNIC)
                                        </div>
                                    </div>
                                }
                                if (V_address == true)
                                {
                                    <div class="form-group row d-flex align-items-center mb-5 justify-content-md-center">
                                        <label class="col-lg-2 form-control-label">Address</label>
                                        <div class="col-lg-8">
                                            @Html.TextBoxFor(model => model.HrF_Address, new { @class = "form-control", @required = "required" })
                                            @Html.ValidationMessageFor(model => model.HrF_Address)
                                        </div>
                                    </div>
                                }

                            }
                            <div class="sign-btn text-center ">
                                <input type="submit" value="Add HR" class="btn btn-lg btn-gradient-03" />
                            </div>
                            @{ if (ViewBag.msg1 == null)
                                {
                                    <p></p>

                                }
                                else
                                {
                                    <div class="alert alert-success">
                                        <strong>Success! @ViewBag.msg1</strong>.
                                    </div>
                                    ViewBag.msg1 = null;
                                }
                            }
                        </form>
                    </div>
                </div>
                <!-- End Form -->
            }
        </div>
    </div>




</div>

