@using Final_Project.Models;
@model Final_Project.Models.teacherSaverCheck
@{
    ViewBag.Title = "Notification_Teacher";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
    int i = 0;
    List<tchrfunctional> tchrData = (List<tchrfunctional>)Session["All_Teachers"];

}
<h1 class="text-center">Send Notification To Teacher </h1>

@using (Html.BeginForm("Notification_Teacher", "Admin", FormMethod.Post))
{
    <form>
        @Html.ValidationSummary(false)
        <div class="container-fluid h-100 overflow-y">
            <div class="row ">
                <div class="col-2 my-auto">
                    <!-- Form -->
                    <div class="widget has-shadow mx-auto ">
                        <div class="widget-body ">
                            <h2 class="text-center">Teachers </h2>
                            @{


                                foreach (tchrfunctional x in tchrData)
                                {
                                    @Html.HiddenFor(model => model.checklist[i].checkid, x.TchrF_ID)
                                    @Html.CheckBoxFor(model => model.checklist[i].checkvalue, new { @class = "styled-checkbox" })
                                    @Html.LabelFor(model => model.checklist[i].checkid, x.TchrF_FName)
                                    <br />
                                    i = i + 1;
                                }

                            }

                        </div>
                    </div>
                </div>
                @{
                    if (tchrData.Count == 0)
                    {
                        <h2 class="text-center">Sorry No Teacher in the Management System </h2>
                    }
                    else
                    {
                        <div class="col-8 my-auto">

                            <div class="widget has-shadow ">
                                <div class="widget-body ">
                                    <div class="form-group row d-flex align-items-center ">
                                        <label class="col-lg-12 form-control-label d-flex justify-content-lg-end">Custom Message</label>
                                        <div class="col-lg-12">
                                            <textarea class="form-control" name="notification_text" placeholder="Type your Notification here ..." required></textarea>
                                            <div class="invalid-feedback">
                                                Write Notification Content Here
                                            </div>
                                        </div>
                                    </div>

                                    <div class="sign-btn text-center">
                                        <input type="submit" value="Send" class="btn btn-lg btn-gradient-01 " />
                                    </div>

                                    @{ if (ViewBag.noti_T == null)
                                        {
                                            <p></p>
                                        }
                                        else
                                        {
                                            <div class="alert alert-success">
                                                <strong> @ViewBag.noti_T</strong>.
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </form>
}